body {
    font-family: Arial;
    background:  #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.nav button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: palevioletred;
    cursor: pointer;
}

.card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
}

.hidden {
    display: none;
}

input {
    width: 90%;
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background: #22c55e;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
